@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap');


body {
    background-color: lightblue;
    text-align: center;
    font-family: Kaisei Tokumin;
}

.status-card {
  display: inline-table;
  max-width: fit-content;

  padding: 8px;
  margin-left: 2em;
  margin-right: 2em;
}

.status-card .name {
  font-size: 1.25em;
  border: 3px solid teal;
  color: blue;
}

  
.job-card {
    display: table;
    
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 25px;
    border: 3px solid teal;
    text-align: center;
}

.job-card .title {
    font-size: 1.25em;
    /* font-family: ; */
    color: blue;
    cursor: pointer;
    text-decoration: underline;
     
  }
  