@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap');


body {
    background-color: lightblue;
    text-align: center;
    font-family: Kaisei Tokumin;
}

#job-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .job-card {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 25px;
   
    border: 3px solid teal;
    text-align: center;
}
  