@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap');


body {
    background-color: lightblue;
    text-align: center;
    font-family: Kaisei Tokumin;
}

#job-container {
    display: flex;
}

.job-card {
    text-align: center;
    border: 2px;
    border-radius: 3em;
}